$border-radius: 8px;
$white: #ffffff;
$light-grey: #f2f2f2;
$outline: #d3dbe8;
$add-text: #929aa3;
$dark-grey: #677687;
$grey-blue: #e5f4fe;
$main-blue: #0096f2;
$link-blue: #006da3;
$dark1-blue: #003cb1;
$dark-blue: #002b7e;
$main-text: #1d2335;
$main-red: #f2291f;
$add-green: #00c853;
$dark-green: #00953e;
$dark2-green: #006229;
